* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #000;
}
/* .header__lista{
    display: none;
} */



.header__lista{
    display: none;
    list-style: none;
    gap: 10px;
}

header {
    
        display: flex;
        justify-content: space-between; 
        align-items: center; 
        width: 100%;
        padding: 10px;
        background-color: #f8ce77;  
}
.hamburguer {
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    margin-left: auto; 
}

header h1 {
    font-size: 1.5rem;
    color: #333;
}

main {
    padding: 0;
}



.Inicio {
    background-color: #f9ce89;
    text-align: center;
    padding: 1rem;
}

.TextoInicio h1 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.TextoInicio p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.Botoes {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.Botoes input,
.Botoes button {
    height: 35px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 0.5rem;
    font-size: 0.9rem;
}

.Botoes input {
    background-color: white;
}

.Botoes button {
    background-color: #ffc107;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Botoes button:hover {
    background-color: #e0a800;
}

.imagem img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.Secao {
    text-align: center;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    margin: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.Secao h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.Secao p {
    font-size: 0.9rem;
    margin-bottom: 0.75rem;
}

.Secao .estrela,
.Secao .repetir,
.Secao .foguinho,
.Secao .fone {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.destinos {
    text-align: center;
    padding: 1rem;
    background-color: #000;
    color: #fff;
}

.destinos h1 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

.destinos p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.estacoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.imagem-container {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.imagem-container:hover img {
    transform: scale(1.05);
    filter: grayscale(0%);
    transition: filter 0.3s, transform 0.3s;
}

.imagem-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.texto-sobre-imagem {
    position: absolute;
    top: 8px;
    left: 8px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    filter: grayscale(100%);
    padding: 4px 8px;
    border-radius: 4px;
}



.Objetivo {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 1rem;
    text-align: justify;
    background-color: #fff;
}

.dados_viagens img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    align-items: center;
}

.texto-objetivo {
    padding: 1rem;
    text-align: justify;
}

.texto-objetivo h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    justify-content: center;
    text-align: center;
}

.Objetivo p {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 0.9rem;
    text-align: center;
}

.dados_viagens {
    padding: 1rem;
}

.dados_viagens ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.dados_viagens li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}

.dados_viagens h3 {
    color: #f5a623;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.dados_viagens p {
    font-size: 0.9rem;
    color: #555;
    line-height: 1.4;
}

.fundo {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 4rem;
    background-color: #f9ce89;
    border-radius: 8px;
    margin: 2rem;
}

.fundo img {
    max-width: 100%;
    height: 250px;
    margin-bottom: 1rem;
    padding: 20px;
    filter: grayscale(100%);
}

.fundo h3 {
    font-size: 2rem;
    color: black;
    text-align: left;
   
}

.fundo p {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    text-align: left;
   
}
.icons{
    display: flex;
    gap: 10px;
}
.copyright{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

footer {
   
    padding: 1rem;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 0.9rem;
}

footer .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

footer .icons a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer .icons a:hover {
    color: #f5a623;
}

footer .icons i {
    font-size: 1.5rem;
}

footer .icons p {
    font-size: 0.9rem;
    margin: 0;
}

@media (max-width: 768px) {
    .dados_viagens ul {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }

    .fundo {
        padding: 1rem;
    }

    .fundo h3 {
        font-size: 1.5rem;
    }

    .fundo p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.25rem;
    }

    .TextoInicio h1 {
        font-size: 1rem;
    }

    .TextoInicio p {
        font-size: 0.8rem;
    }

    .Botoes input,
    .Botoes button {
        font-size: 0.8rem;
    }

    .Secao h1 {
        font-size: 1.25rem;
    }

    .Secao p {
        font-size: 0.8rem;
    }

    .destinos h1 {
        font-size: 1.25rem;
    }

    .destinos p {
        font-size: 0.8rem;
    }

    .dados_viagens ul {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .dados_viagens h3 {
        font-size: 1.25rem;
    }

    .dados_viagens p {
        font-size: 0.8rem;
    }

    .fundo h3 {
        font-size: 1.25rem;
    }

    .fundo p {
        font-size: 0.8rem;
    }

    footer {
        padding: 0.5rem;
    }

    footer .icons i {
        font-size: 1.25rem;
    }

    footer .icons p {
        font-size: 0.8rem;
    }
}

@media (min-width: 1024px) {
    main {
        max-width: 100%;
        margin: 0 auto;
    }

    .Inicio {
        padding: 2rem;
    }
    .header__lista{
        display: flex;
    }

    .Secao {
        padding: 2rem;
    }

    .destinos {
        padding: 2rem;
    }

    .imagem-container {
        width: 300px;
        height: 300px;
    }

    footer {
        padding: 3rem;
        font-size: 1.4rem;
        background-color: #fafafa;
    }

    footer .icons {
        gap: 2rem;
    }

    footer .icons i {
        font-size: 2.5rem;
    }


    .header__lista{

        display: flex;
        align-items: center;
        text-align:  center;
        justify-content: center;


    }
}